#Search{ 
    margin-top:10%;
    float:right;
    margin-right:30px;
    height:25px;
}

#ButtonContain {
    width:80%
}

#SearchContain {
    width: 20%;
}

.topnav {
    border: 5px var(--border);
    border-radius: 3px;
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg);
}

.topnavrec {
    border: 5px var(--border);
    border-radius: 3px;
    display:flex;
    list-style-type: none;
    background-color: var(--bg);
}

.linkContain {
    float:left;
}

.navButton {
    display:block;
    color: var(--textTitle);
    text-align: center;
    padding: 14px 16px;
    margin:5px;
    text-decoration: none;
    border:1px solid var(--bg);
    border-radius: 5px;
    font-size: larger;
    font-family: var(--font);
}

.navButton:hover {
    background-color: var(--bgLabel);
    border:1px solid var(--textTitle);
}