:root {
    --bg:   #00509d;
    --bgLabel: #00296b;
    --textBox: #003f88;
    --text: #fdc500; 
    --textTitle: #ffd500 ;
    --border: solid black;
    --font: calibri, sans-serif;
    --gradient: -webkit-linear-gradient(90deg, rgba(0,102,255,1)28%, rgba(248,175,155,1)40%, rgba(255,215,0,1) 100%)
}

/*
    --bg:   #00509d;
    --bgLabel: #00296b;
    --textBox: #003f88;
    --text: #fdc500; 
    --textTitle: #ffd500 ;
    --border: solid black;
    --grad: gold,#f8af9b,rgb(0, 102, 255)
*/